#menu {
    width:100%;
    margin:0;
    bottom:0;
    background-color: #456588;
}

iframe {
    margin:0;
    border:none;
    overflow:hidden;
}

body {
    margin:0;
    font-family: 'Roboto Mono', monospace;
    background-color: #000000;
}

.bottom {
    background-color: #456588;
    margin-bottom: 5px; 
    width:100%;
    position:fixed;
    z-index:9999998;
    text-align: center;
    display: block;
    color:white;
    bottom:0;
}

.bottom_menu { 
    background-color: #456588;
    margin-bottom: 5px; 
    position: fixed;
    z-index:9999999;
    bottom: 0;
    width: auto;
    display:block !important;
    color: white; 
}

#previous {
    cursor: pointer;
    text-align: left;
    left:1%;
}

#next {
    cursor: pointer;
    text-align: right;
    right:1%;
}

a {
    text-decoration: none;
    color: white; 
}
.holds-the-iframe {
    background:url(/images/loading.gif) center center no-repeat;
}